*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
/* ------------ Utility----------- */
.centerAlign { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* ------------ header----------- */
header { 
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 85px;
    grid-template-areas: 'first second';
}
header > * {  
    border: 1px solid black;
}
.navLeft {
    border-right: none;
}
.menuSuggest {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: 'here there';
   text-align: center;
   align-items: center;
}
.menuSuggest > div {
    height: 100%;
}
.leftAlign > h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 35px;
}
.leftAlign:nth-child(2){
    border-left: 1px solid black;
}
/* ------------ header end----------- */

/* ------------ Suggest ----------- */
#suggest{ 
    display: grid;
    grid-auto-rows: 350px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'left right';
    border: 1px solid black;
    border-top: none;
}
.suggestArea {
    width: 100%;
    height: 100%;
    grid-area: right ;
    display: grid;
    text-align: center;
    align-items: center;
}
/* ------------ MainGRID ----------- */
#mainGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    '. content content'
    '. note note'
    '. features cost'
    '. email email';
    grid-auto-rows: minmax(100px, auto);
    /* background-color: lightgray; */
}

#content{
    grid-area: content;
    min-height: 400px;
    padding: 2rem 4rem;
    /* background-color: lightskyblue; */
    border: 1px solid black;
    border-top: none;
    font-size: 1.3em;
}
ul {
    margin-left: 50px;
    list-style: square;
    margin-bottom: 30px;
}
#note {
    border: 1px solid black;
    border-top: none;
    min-height: 75px;
    grid-area: note;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 64px;
}
