*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2em;
    margin-bottom: 500px;

}
/* ------------ Utility----------- */
.centerAlign { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hoverEffect:hover{
    background-color: black;
    color: white;
}
/* ------------ header----------- */
header { 
    background-color: white;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 85px;
    grid-template-areas: 'first second';
}
header > * {  
    border: 1px solid black;
}
.navLeft {
    border-right: none;
}
.menuSuggest {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-areas: 'here there';
   text-align: center;
   align-items: center;
}
.menuSuggest > div {
    height: 100%;
}
.leftAlign > p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-left: 35px;
}
.leftAlign:nth-child(2){
    border-left: 1px solid black;
}
/* ------------ header end----------- */

/* ------------ Suggest ----------- */
#suggest{ 
    display: grid;
    grid-auto-rows: 350px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'left right';
    border: 1px solid black;
    border-top: none;
}
.suggestArea {
    width: 100%;
    height: 100%;
    grid-area: right ;
    display: grid;
    text-align: start;
    align-items: center;
    padding-left: 65px;
}
/* ------------ MainGRID ----------- */
#mainGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    '. content content'
    '. note note'
    '. features features'
    '. email email';
    grid-auto-rows: minmax(100px, auto);
    border-bottom: 1px solid black;
}

#content{
    grid-area: content;
    min-height: 400px;
    padding: 2rem 4rem;
    border: 1px solid black;
    border-top: none;
}
ul {
    margin-left: 50px;
    list-style: square;
    margin-bottom: 30px;
}
#note {
    grid-area: note;
    border: 1px solid black;
    border-top: none;
    min-height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 64px;
}

/* ---------- featuresNcost -------- */
#featuresNcost{
    grid-area: features ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'features cost';
}

#features , #cost {
    border: 1px solid black;
    border-top: none;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
#features > p{
    padding-top: 25px;
    padding-left: 65px;
}
#features > ul {
    margin-left: 105px;
}
#cost {
    border-left: none;
    padding: 1.4rem;
}
#pay{
    margin-top: 2.4rem;
    text-align: center;
}

#email{
    grid-area: email;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
}
.emailAddress{
    color: black;
    text-decoration: none;
}
#email:hover a{
    color: white;
}
#email:hover{
    background-color: black;
}
